body{
    /*background: linear-gradient(215deg,#171d26 15%,#000 85%) no-repeat 50% fixed;*/
    background-color: black;
    background-size: cover;
}

.logo{
    width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 10px;
}

#main{
    display: inline-block;
    text-align: center;
    border: 2px black solid;
    padding: 50px;
    position: absolute;
    top: 38%;
    left: 38%;
    color: white;
    background-color: #1c2026;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-bottom: 30px;
}

.inp{
    margin-bottom: 20px;
    height: 25px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    color: white;
    background-color: #1c2026 ;
    font-size: 15px;
    text-align: center;
    padding: 7px;
}

.verify{
    width: 80px;
    height: 30px;
    border-radius: 9px;
    font-size: 13px;
}

::placeholder{
    text-align: center;
    color: whitesmoke;
}

button{
    position: absolute;
    top: 510px;
    left: 690px;
    border-radius: 9px;
    font-size: 15px;
    padding: 8px;
}

h1{
    color: #04D9FF;
    font-family: outline;
    font-family: nationale,nationale-regular,helvetica,arial,sans-serif;
    position: absolute;
    top: 15%;
    left: 40.5%;
    font-size: 50px;
    font-weight: 600;
}

#main:hover{
    border-color: aqua;
    box-shadow: 0 0 20px white;
    border-width: 4px;
    border-radius: 20px;
    transition: 2s;
}

button:hover{
    background-image:radial-gradient(white,#04D9FF);
}

.verify:hover{
    background-image:radial-gradient(white,#04D9FF);
    font-size: 14px;
}

#i{
    position: absolute;
    left: 200px;
    color: greenyellow;
    background-color: white;
}